.checkbox-wrapper {
  input {
    display: none;
  }

  .custom-checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 4px;
    display: inline-block;
    position: relative;

    .checkmark {
      position: absolute;
      top: 0;
      left: 4px;
      width: 4px;
      height: 8px;
      border: solid;
      border-width: 0 2px 2px 0;
      color: inherit;
      content: '';
    }
  }
}
