.checkbox-wrapper {
  input {
    display: none;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 4px;
    display: inline-block;
    position: relative;

    .checkmark {
      position: absolute;
      top: 2px;
      left: 6px;
      width: 5px;
      height: 12px;
      border: solid;
      border-width: 0 3px 3px 0;
      color: inherit;
      content: '';
    }
  }
}
