.action-bar {
  display: flex;
  gap: 0.5rem; // more natural spacing between buttons
  align-items: center;

  app-button {
    display: flex;
    align-items: center;

    // ensures icons follow text colour
    app-icon, mat-icon {
      color: inherit;
    }
  }
}
