<div class="main-template">


  <app-stat-card-group [cards]="statCards" />

  <app-filter-action-group
    [tabs]="filterTabs"
    (tabChanged)="filterTabChange.emit($event)"
    />

  <div class="table-section">
    <table>
      <thead>
        <app-table-header
          [allChecked]="allChecked"
          [sortKey]="sortKey"
          [sortDirection]="sortDirection"
          (toggleAll)="toggleAll.emit($event)"
          (sortChange)="sortChange.emit($event)"
        />
      </thead>
      <tbody>
        <app-table-row-group
          [rows]="tableData"
          (rowSelected)="rowSelected.emit($event)"
        />
      </tbody>
    </table>
  </div>
</div>
