<div class="main-template">


  <app-stat-card-group [cards]="statCards" />

  <app-filter-action-group
    [tabs]="filterTabs"
    [selectedTab]="selectedTab"
    (tabChanged)="filterTabChange.emit($event)"
    (exportClicked)="exportClicked.emit()"
    />

  <div class="table-section">
  <app-table-header
    [sortKey]="sortKey"
    [sortDirection]="sortDirection"
    [allChecked]="allChecked"
    (sortChange)="sortChange.emit($event)"
    (toggleAll)="toggleAll.emit($event)"
  />

  <div class="table-row-scroll-wrapper">
    <app-table-row-group
      [rows]="tableData"
      (rowSelected)="rowSelected.emit($event)"

    />
  </div>
</div>

</div>
