.main-template {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem;
  background: #f5f5f5;
  margin-right: auto;
}

.table-section {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow-x: auto;
  background: white;
}

.table-row-scroll-wrapper {
  max-height: calc(100vh - 25rem);
  overflow-y: auto;
  overflow-x: hidden;
}


app-stat-card-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

app-filter-action-bar {
  padding-bottom: 2rem;
}
