<div class="page-wrapper">
  <app-main-group-template
    [statCards]="statCards()"
    [filterTabs]="filterTabs()"
    [tableData]="visibleTableData()"
    [sortKey]="sortKey()"
    [sortDirection]="sortDirection()"
    (sortChange)="onSortChange($event)"
    [allChecked]="allChecked()"
    (toggleAll)="onToggleAll($event)"
    (rowSelected)="onRowSelected($event)"
    (filterTabChange)="onFilterChange($event)"
    [selectedTab]="selectedFilter()"
    (exportClicked)="onExportToCSV()"
  />
</div>
